html {
  color: #111;
  font-family: "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.5rem;
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: inherit;
  display: block;
}

header#header {
  display: flex;
  flex: 1;
  background-color: #fff;
  height: 50px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}

div.header {
  display: flex;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
}

div.banner {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: space-between;
}

div.banner > a {
  max-width: 0;
  line-height: 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

hr.separator {
  border: 0;
  background-color: rgba(0,0,0,0.2);
  margin: 0px;
  padding: 0px;
  height: 1px;
}

h1 {
  max-width: 40em;
  font-style: normal;
  font-weight: 100;
  margin-top: 0;
  font-size: 2.91029rem;
  line-height: 3.5rem;
  margin-bottom: 0.8rem;
  padding-top: 0.201rem;
}

p {
  max-width: 40em;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.4005rem;
  margin-bottom: 1.1rem;
}

a {
  max-width: 40em;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.4005rem;
  margin-bottom: 1.1rem;
}

section.title {
  padding-top: 1.5rem;
  padding-bottom: 0;
}

section.files {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div.row {
  display: grid;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 1.5rem;
}

div.row.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

section.file-table {
  background-color: #f7f7f7;
  border: 1px solid #cdcdcd;
  border-radius: 0.125rem;
  color: #111;
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 0;
  overflow: auto;
  padding: 0.45rem 1rem;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  display: flex;
  flex-direction: column;
}


.file-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.file-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-table-elem {
  flex: 1;
  margin: 0;
  display: flex;
}

footer {
  height: 100px;
}
